/* ========Global Styles======== */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
img{
    display: block;
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgba(46, 46, 46, 1);
}
/*=========Reused Styles======== */
.container{
    max-width:90rem;
    margin: 0 auto;
    width: 90%;
}
/* -----btns-------- */
.btn{
    width: max-content;
    height:max-content;
    border-radius: 50px;
    padding:1rem 2rem;
    font-weight: 600;
}
.btn.gredient{
    background-image: linear-gradient(to right, rgba(5, 24, 90, 1), rgba(17, 122, 203, 1));
    color: white;
}
.btn.white{
    background-color: white;
    color: rgba(17, 122, 203, 1);
}
.btn.outline_blue{
    background-color: transparent;
    color: rgba(17, 122, 203, 1);
}
/* ----------Text Font sizeing----------- */
.heading_large{
    font-size: 3.5rem;
}
.heading_medium{
    font-size: 2.5rem;
}
.body_text_large{
    font-size: 1.2rem;
}
.body_text_small{
    font-size: 1rem;
}
/* ----------Text Font styleing colors----------- */
.heading_large.white{
    color: white;
}
.heading_medium.black{
    color:rgba(46, 46, 46, 1);
}
.heading_medium.white{
    color:white;
}
.body_text_small.white{
color: white;
}
.body_text_small.black{
    color: rgba(84, 83, 83, 1);
}
/* ============For genral styleing=========== */
/* --------for header-section---------- */
header{
    width: 100%;
    background-color: white;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* ______for_navbar */
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
gap: 1rem;
}
header nav .logo{
    width: 13rem;
}
header nav .links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
header nav .links .active{
font-weight: 600;
}
header nav .links .flex{
  display: flex;
  align-items: end;
  gap: 0.5rem;
}
header nav .links .flex .icon{
  font-size: 1.1rem;
  font-weight: 600;
}
header nav .hamburger_menu{
    display: none;
}
/* ______for_hero banner */
header .hero-banner{
    width: 100%;
    flex: 1;
    background-image: url("./images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header .hero-banner .wrapper{
    width: 100%;
    padding: 2rem 0rem;
    height: 100%;
    background-image: url("./images/bg_gredient.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
header .hero-banner .wrapper .text {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
header .hero-banner .wrapper .text .body_text_small{
    width: 40%;
    padding-bottom: 1rem;
}
/* =========Media Quaries========= */
/* ----------For font sizeing----------- */
/* ______for heading_large */
@media screen and (max-width:550px) {
    .heading_large{
        font-size: 3rem;
    } 
}
@media screen and (max-width:450px) {
    .heading_large{
        font-size: 2.5rem;
    } 
}
@media screen and (max-width:450px) {
    .heading_large{
        font-size: 2.5rem;
    } 
}
@media screen and (max-width:280px) {
    .heading_large{
        font-size: 2rem;
    } 
}
/* ----------For Genral styleing----------- */
@media screen and (max-width:1300px) {
    header .hero-banner .wrapper .text .body_text_small{
        width: 60%;
    }
}

@media screen and (max-width:1024px) {
    header nav .links{
        display:none;
    }  
    header nav .hamburger_menu{
        display: block;
        font-size: 2rem;
        background-image: linear-gradient(to right, rgba(5, 24, 90, 1), rgba(17, 122, 203, 1));
        color: white;
        padding: 0.5rem 1rem;
    }  
} 
@media screen and (max-width:500px) {
    header nav .hamburger_menu{
        font-size: 1.5rem;
    }  
    header .hero-banner .text .line_br{
        display: none;
    }
}
@media screen and (max-width:768px) {
    header .hero-banner .wrapper .text .body_text_small{
        width: 100%;
    }
}

